$red :  #ff3333;
$blue : #0039e6;
$brightblue : #0066cc;
$grey : #eee;

a {
  color: $blue;
}

#response {
  display: none;
}

#repo-result {
  display: none;
}

.list-group-item a{
  font-size: 1.5em;
}

.error {
  color: $red;
}

#avatar {
  max-height: 140px;
}

.profile {
  background-color: $grey;
}

.profile p {
  padding: 0px 10px;
}

.profile h4 {
  padding: 10px;
}

.profile ul {
  padding: 0px 10px 10px 25px;
}

.response .page-header {
  margin: 0px;
}

.btn-primary {
  background-color: $brightblue;
  border: 0px;
}
